<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="15.1.4.0" targetFramework="net452" />
  <package id="dotConnect.Express.for.Oracle" version="9.5.454" targetFramework="net452" />
  <package id="RIDataMaintenance" version="4.0.0.25092" targetFramework="net452" />
  <package id="RIUserDefaults" version="2.0.0.1" targetFramework="net452" />
</packages>