<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

    <!--ADDED 10/29/2018 JEB-->
    <!--https://stackoverflow.com/questions/20063861/the-configuration-section-system-web-extensions-cannot-be-read-because-it-is-m-->

    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>


    <!--ADDED 10/29/2018 JEB-->
    
  </configSections>
  <appSettings>
    <add key="AppName" value="Reliability"/>
    <add key="SQLServerCacheOn" value="True"/>
    <add key="CacheViewState" value="False"/>
    <add key="LDAPUserName" value="graphicpkg\LDAP.Query"/>
    <add key="LDAPPassword" value="1dapW3Bus3r"/>
    <add key="LDAPPATH" value="LDAP://na.graphicpkg.pri,OU=Applications,OU=IP NET APPS,OU=Service Accounts,OU=Corp Objects,DC=na,DC=graphicpkg,DC=pri"/>
    <!--PPR Downtime Settings-->
    <add key="maxDisplayCount" value="1000"/>
    <add key="ResourceDataProvider" value="RIResourceProvider"/>
    <add key="ResourceApplicationID" value="RI"/>
    <add key="ResourceConnectionStringName" value="connectionRCFATST"/>
    <add key="DevLDAP.Service" value="http://s29edev13-2/LDAP/Service.asmx"/>
    <add key="TaskTrackerWS.tasktracker" value="http://gpitasktracker.graphicpkg.com/WebServices/TaskTracker.asmx"/>
    
    <!--USD Ticket Generation Settings-->
    <add key="USDGeneration" value="True"/>

    <add key="PowerUsers" value="NA\Surya.Nandury,NA\Vara.Karyampudi,NA\Tom.Roach"/>
    
    <!--ADDED 12/9/2018 JEB-->
    <add key="Tracing" value="True" />
     <!--ADDED 03/21/2019 JEB-->
    <add key="TracingFunctions" value="True" />
    <add key="TrackMOC" value ="True"/>
   <add key="TrackMOCEmail" value ="james.butler@graphicpkg.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connectionRCFATST" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciod-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOD02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relad123#;PERSIST SECURITY INFO=True;USER ID=reladmin;Unicode=true" providerName="System.Data.OracleClient"/>
    <add name="USDSqlServer" connectionString="Data Source=s02asqlp349.na.graphicpkg.pri;Initial Catalog=ManufacturingUSD;Persist Security Info=True;User ID=MEASApps;Password=measapps;" providerName="System.Data.SqlClient"/>
    <add name="dbCnPRODpmdb" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciod-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOD02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=emfgd123#;PERSIST SECURITY INFO=True;USER ID=EMFG_USER;Unicode=true" providerName="System.Data.OracleClient"/>
    <add name="dbCnPPR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxOMSA)(PORT=1521))(CONNECT_DATA=(SID = xxPPR)(SERVER = DEDICATED))); uid=oper;pwd=oper;" providerName="System.Data.OracleClient"/>-->

    <add name="connectionRCFATST" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciop-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOP02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relap123#;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" providerName="System.Data.OracleClient"/>
    <add name="USDSqlServer" connectionString="Data Source=s02asqlp349.na.graphicpkg.pri;Initial Catalog=ManufacturingUSD;Persist Security Info=True;User ID=MEASApps;Password=measapps;" providerName="System.Data.SqlClient"/>
    <add name="dbCnPRODpmdb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=gpiptcciop-scan.graphicpkg.pri)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = GPCIOP02.graphicpkg.pri)(SERVER = DEDICATED))); uid=emfg_user;pwd=emfgp123#;" providerName="System.Data.OracleClient"/>
    <add name="dbCnPPR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxOMSA)(PORT=1521))(CONNECT_DATA=(SID = xxPPR)(SERVER = DEDICATED))); uid=oper;pwd=oper;" providerName="System.Data.OracleClient"/>

  </connectionStrings>
   <system.web>
    <roleManager enabled="false"/>
    <trace enabled="false" requestLimit="5" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
    <pages buffer="true" styleSheetTheme="RIBlackGold" theme="RIBlackGold" enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add src="~/RI/User Controls/Common/ucDateTime.ascx" tagName="DateTime" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucStartEndCalendar.ascx" tagName="StartEndCalendar" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucReportSelection.ascx" tagName="ReportSelector" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucMOCReportSelection.ascx" tagName="MOCReportSelector" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucOutageReportSelection.ascx" tagName="OutageReportSelector" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucFunctionalLocationTree.ascx" tagName="FunctionalLocationTree" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucECSearch.ascx" tagName="FunctionalLocation" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucPPRReasons.ascx" tagName="PPRReasons" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucPPRMillMachineSelection.ascx" tagName="PPRMillMachine" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucDateRange.ascx" tagName="DateRange" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucSwapListBox.ascx" tagName="SwapListBox" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucIncidentTypes.ascx" tagName="IncidentType" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucIncidentClassification.ascx" tagName="IncidentClassification" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucIncidentClassification2.ascx" tagName="IncidentClassification2" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucSiteLocation.ascx" tagName="SiteLocation" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucSpellcheck.ascx" tagName="SpellCheck" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucHistory.ascx" tagName="IncidentHistory" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucBanner.ascx" tagName="Banner" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucMessageBox.ascx" tagName="MessageBox" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucOutageLocation.ascx" tagName="OutageLocation" tagPrefix="IP"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <add tagPrefix="Karamasoft" namespace="Karamasoft.WebControls.UltimateSpell" assembly="UltimateSpell"/>
        <add assembly="AdvancedTextBox" namespace="AdvancedTextBox" tagPrefix="IP"/>
        <add namespace="RealWorld.Grids" tagPrefix="RWG"/>
        <add assembly="ExpandedDropDownList" namespace="ExpandedDropDownList" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucMOCTypes.ascx" tagName="MOCType" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucOutageTypes.ascx" tagName="OutageType" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucMOCCategory.ascx" tagName="MOCCategory" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucMOCClassification.ascx" tagName="MOCClass" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/ucExcel.ascx" tagName="DisplayExcel" tagPrefix="IP"/>
        <add src="~/RI/User Controls/ucCultureSelection.ascx" tagName="SelectLanguage" tagPrefix="IP"/>
        <add src="~/RI/User Controls/UcLdapLogin.ascx" tagName="LdapLogin" tagPrefix="IP"/>
        <add src="~/RI/User Controls/Common/UcMOCDate.ascx" tagName="MOCDate" tagPrefix="IP"/>
      </controls>
    </pages>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
        <add name="AdminSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Admin.sitemap" securityTrimmingEnabled="true"/>
        <add name="OutageSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Outage.sitemap" securityTrimmingEnabled="true"/>
        <add name="MOCSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="MOC.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <compilation debug="true" defaultLanguage="VB" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
      <buildProviders>
        <add extension=".asbx" type="Microsoft.Web.Services.BridgeBuildProvider"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <expressionBuilders>
        <add expressionPrefix="RIResources" type="IP.Bids.Localization.ResourceExpression"/>
      </expressionBuilders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpRuntime enable="true" requestValidationMode="2.0" executionTimeout="9000000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="false" minFreeThreads="88" minLocalRequestFreeThreads="76" appRequestQueueLimit="1000" enableVersionHeader="true"/>
  
    <customErrors mode="On" defaultRedirect="/ri/Help/ErrorPage.aspx">
      <error statusCode="401" redirect="/ri/offline.htm"/>
      <error statusCode="404" redirect="/ri/offline.htm"/>
    </customErrors>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <xhtmlConformance mode="Transitional"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
    <machineKey decryptionKey="4EE46BBA0A312678945729F085535037F99B557CE718965F,IsolateApps" validationKey="41E6D16854D3E89834433AB0F9148008B0606D0667991F3AC23A261F903DDDB72F84BF43783FA24C6EFFDB09B50AC8A1AF89A37C88EF328DACC235D0F4EFAB38,IsolateApps"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
    <!--added jeb 10/29/2018 because of error: An ASP.NET setting has been detected that does not apply in Integrated managed pipeline mode.-->
    <validation validateIntegratedModeConfiguration="false"/>
    
  </system.webServer>
  <location path="RI/Admin">
    <system.web>
      <authorization>
        <allow users="NA\Surya.Nandury"/>
        <allow users="NA\Vara.Karyampudi"/>
         <allow users="NA\James.Butler"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <jsonSerialization maxJsonLength="5000000">
          <!--<converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>-->
        </jsonSerialization>
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <!-- Uncomment this if your site globally denies access to anonymous users.  The 
       authentication service and profile service are located under the virtual
       "ScriptServices" directory.  Since you normally call the authentication web
       service with an un-authenticated user, the following location tag can be used
       to grant access to anonymous users.  If you use anonymous profile support
       you will also need to grant access to anonymous users. -->
  <!--
  <location path="ScriptServices">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>    
  </location>
  -->
  <system.net>
    <mailSettings>
      <smtp from="DoNotReply@GraphicPkg.com">
        <network defaultCredentials="true" host="gpimail.na.graphicpkg.pri" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <My.MySettings>
      <setting name="RI_WebApp_com_ipaper_tasktrackerwsdev_TaskTracker" serializeAs="String">
        <value>http://gpitasktracker.graphicpkg.com/WebServices/TaskTracker.asmxx</value>
      </setting>
      <setting name="RI_WebApp_com_ipaper_ridev_TaskTracker" serializeAs="String">
        <value>http://gpitasktracker.graphicpkg.com/WebServices/TaskTracker.asmx</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
  <!--<system.web xmlns="">
    
  <pages>
      <controls>
        
      </controls>
    </pages></system.web>-->
  <system.data xmlns="">
    <DbProviderFactories>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=9.5.454.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.5.454.0" newVersion="9.5.454.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.1878.0" newVersion="5.0.1878.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>